
.heading {
    text-align: center;
    margin-top: 120px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.pokemon_family {
    display: flex;
    height: 500px;
    margin: 40px auto auto auto;
    max-width: 1000px;
    background-color: rgb(246, 254, 255);
    justify-content: center;
}

.pokemon {
    margin: auto;
    padding: 26px;
    font-size: 20px;
    height: 300px;
    width: 220px;
    text-align: center;
    cursor: pointer;
}

.pokemon_family :hover {
    font-size: 150%;
}

.id {
    width: 60px;
    height: 25px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.image {
    margin-top: 50px;
}

.name {
    margin: 40px auto 15px auto;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#bulba {
    background-color: rgb(207, 243, 221);
    border: 2px solid rgb(153, 248, 201);
    border-radius: 5px;
}

#charm {
    background-color: rgb(243, 214, 222);
    border: 2px solid rgb(250, 172, 202);
    border-radius: 5px;
}

#squir {
    background-color: rgb(164, 225, 240);
    border: 2px solid rgb(144, 220, 245);
    border-radius: 5px;
}

#bulba #no{
    background-color: rgb(20, 161, 20);
}

#charm #no{
    background-color: rgb(218, 26, 26);
}

#squir #no{
    background-color: rgb(28, 121, 209);
}